@import "variables";
@import "Components/Toolbox.scss";


/* * {
    margin: 0;
    padding: 0;
} */
body {
    background-color: $primary-color;
    font-family: 'Arial';
}


.container { 
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(var(--gridWidth), 27px);
    grid-template-rows: repeat(var(--gridHeight), 27px);
    gap: 0px;
}

.square {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition: ease-in-out .05s;
    }
}

.marked {
    background-color: $secondary-color;

    &:hover {
        background-color: darken($secondary-color, 10%);
    }
}

.counter {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 350px;
    right: 10px;
    top: 10px;
    font-family: 'Arial';
    font-size: 16px;
}