.toolbox {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
}

#house-height {
    width: 32px;
    border: 1px solid black;
    background-color: transparent;
    text-align: center;
    height: 32px;
}