* {
  margin: 0;
  padding: 0; }

.light-bg {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto',sans-serif; }

.dark-bg {
  background-image: url("../img/bg-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto',sans-serif;
  color: white; }

.light-bg-toggler {
  background-color: #3f6350;
  color: white; }

.dark-bg-toggler {
  background-color: #4b164b !important;
  color: white; }

.dark-bg-toggler:hover {
  background-color: #691f69 !important;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer; }

#left-bar-container {
  float: left;
  height: 80vh;
  width: 20vw;
  margin-left: 3vw;
  margin-top: 3vh;
  text-align: center; }
  #left-bar-container h1 {
    margin-top: 50%;
    margin-bottom: 2%;
    font-size: 2.8em; }
  #left-bar-container .light-bg-h2 {
    font-weight: 300;
    font-size: 1.5em;
    color: #3f6350;
    margin-top: 1%; }
  #left-bar-container .dark-bg-h2 {
    font-weight: 300;
    font-size: 1.5em;
    color: #9b1f9b;
    margin-top: 1%; }
  #left-bar-container button {
    font-family: 'Roboto',sans-serif;
    margin-top: 6%;
    width: 180%;
    margin-left: -40%;
    padding: 5%;
    border: none;
    font-weight: 700;
    font-size: 120%;
    outline: none;
    -webkit-box-shadow: 0px 0px 62px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 62px -13px rgba(0, 0, 0, 0.75); }
  #left-bar-container button:hover {
    cursor: pointer; }
  #left-bar-container .light-btn {
    background: rgba(245, 245, 245, 0.8);
    color: black; }
    #left-bar-container .light-btn span {
      float: right;
      position: relative;
      right: 7%;
      font-weight: 500; }
  #left-bar-container .light-btn:hover {
    cursor: pointer;
    background: rgba(200, 200, 200, 0.8);
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s; }
  #left-bar-container .light-btn:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s; }
  #left-bar-container .dark-btn {
    background: rgba(20, 20, 20, 0.8);
    color: white; }
    #left-bar-container .dark-btn span {
      float: right;
      position: relative;
      right: 7%;
      font-weight: 500; }
  #left-bar-container .dark-btn:hover {
    cursor: pointer;
    background: rgba(45, 45, 45, 0.8);
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s; }
  #left-bar-container .dark-btn:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s; }
  #left-bar-container img {
    width: 35%;
    top: 13%;
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    -webkit-transform: translate(-45%, -50%);
        -ms-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
    position: absolute; }

#right-bar-container {
  width: 50vw;
  height: 80vh;
  margin-right: 3vw;
  margin-top: 3vh;
  float: right;
  text-align: center; }
  #right-bar-container h1 {
    text-align: center;
    font-size: 3em;
    margin-top: -5vh;
    margin-bottom: 2vh;
    font-weight: 300; }
  #right-bar-container h2 {
    font-weight: 300;
    font-size: 2em; }
  #right-bar-container .icons {
    width: 15%;
    float: left;
    margin-left: 8%;
    margin-top: 2%; }
  #right-bar-container #illu-icon {
    width: 15.8%;
    position: relative;
    bottom: 0.3%; }
  #right-bar-container .webdev {
    width: 12vw; }
  #right-bar-container .graphic {
    width: 10vw;
    position: relative;
    bottom: 90vh;
    left: 30vw; }
  #right-bar-container li {
    font-weight: 700;
    list-style-type: none;
    text-shadow: 0px 0px 24px rgba(250, 250, 250, 0.3);
    margin-left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%; }
  #right-bar-container i {
    font-size: 3em;
    text-shadow: 0px 0px 24px rgba(250, 250, 250, 0.3); }
  #right-bar-container .icon-text {
    vertical-align: middle;
    margin-left: 5%; }
  #right-bar-container .bio-content {
    position: absolute;
    width: 65%;
    margin-top: 10%; }
    #right-bar-container .bio-content p {
      font-size: 105%;
      font-weight: 700; }
  #right-bar-container .project {
    width: 80%;
    margin-top: 2vh;
    height: 5vh; }
    #right-bar-container .project img {
      width: 35%;
      position: absolute;
      left: 0;
      top: 0; }
    #right-bar-container .project h2 {
      margin-left: 40%;
      margin-top: -5vh;
      font-weight: 700; }
    #right-bar-container .project p {
      margin-left: 40%;
      font-size: 95%;
      margin-top: 0%;
      width: 60%; }
    #right-bar-container .project a {
      color: black;
      text-decoration: none;
      float: right;
      margin-right: -3vw; }
      #right-bar-container .project a i {
        font-size: 2em; }
      #right-bar-container .project a i:hover {
        text-shadow: 0px 0px 24px rgba(20, 20, 20, 0.9);
        color: white;
        -webkit-transition-duration: 0.2s;
             -o-transition-duration: 0.2s;
                transition-duration: 0.2s;
        cursor: pointer; }
    #right-bar-container .project .go-to-website {
      font-weight: 700;
      font-size: 130%; }
    #right-bar-container .project .go-to-website:hover {
      text-shadow: 0px 0px 24px rgba(20, 20, 20, 0.9);
      color: white;
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s;
      cursor: pointer; }

form {
  position: absolute !important;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.text-me {
  height: 60vh; }
  .text-me form {
    background-color: transparent;
    position: relative;
    top: 25vh; }
  .text-me label {
    font-weight: 700;
    font-size: 200%;
    width: 100%; }
  .text-me input {
    border: 0;
    width: 100%;
    margin-top: 10%;
    padding: 3%;
    font-weight: 700;
    outline-color: #3f6350; }
  .text-me input[type=submit] {
    background-color: #3f6350;
    color: white;
    font-size: 120%; }
  .text-me input[type=submit]:hover {
    cursor: pointer;
    background-color: #3f7450;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .text-me textarea {
    border: 0;
    margin-top: 10%;
    max-width: 150%;
    max-height: 10vh;
    width: 150%;
    height: 10vh;
    position: relative;
    right: 23%;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding: 2%;
    outline-color: #3f6350; }

#viewToggler {
  position: absolute;
  bottom: 5vh;
  left: 15vw;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  outline: none;
  background-color: #3f6350;
  color: white;
  border: none;
  font-weight: 700; }

#viewToggler:hover {
  cursor: pointer;
  background-color: #3f7450;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s; }

.back {
  font-weight: 700; }

/* ACRYLIC BLURRED MATERIAL WITH SHADOW INCLUDED */
.acrylic {
  padding: 4em 6em;
  position: relative;
  overflow: hidden;
  color: black; }

.acrylic::before {
  background: url("../img/bg.jpg") center center;
  background-size: 100vw auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  z-index: -1; }

.acrylic::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.65;
  background: rgba(250, 250, 250, 0.1); }

/* Dark acrylic */
.acrylic-dark::before {
  background: url("../img/bg-dark.jpg") center center;
  background-size: 100vw auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  z-index: -1; }

.acrylic-dark {
  padding: 4em 6em;
  position: relative;
  overflow: hidden;
  color: white !important; }

.acrylic-dark::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.65;
  background: rgba(20, 20, 20, 0.9); }

.shadow {
  border-radius: 1px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 1px 8px rgba(0, 0, 0, 0.2); }

.acrylic.medium::after {
  background-color: rgba(255, 255, 255, 0.4); }

.acrylic.medium-high::after {
  background-color: rgba(255, 255, 255, 0.6); }

/* Scroll Bar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(50, 50, 50, 0.8); }

/* Animation */
.fade-in {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s; }

.fade-out {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s; }

.fade-in-from-top {
  -webkit-animation: fadeInFromTop 1s;
          animation: fadeInFromTop 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes fadeInFromTop {
  from {
    opacity: 0;
    bottom: 20px; }
  to {
    opacity: 1;
    bottom: 0px; } }

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    bottom: 20px; }
  to {
    opacity: 1;
    bottom: 0px; } }
